@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #233947;
    
}
body{
    background-color: #69A6D0;
    
}
main{
    color: #fbfdff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voltar{
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar img{
    width: 100%;
}

.container{
    color: #233947;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.populares, .leituras{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    gap: 10px;

}
.artigo, .leituraRecente{
    width: 80px;
    height: 90px;
    flex-shrink: 0;
    border: 3px solid #ffffff;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 3fr 1f;
    text-align: center;
}
