@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

#titulo{
    margin-top: 5px;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    font-size: 0.8em;
}


.iconsC{
    display: flex;
    align-items: center;
    border: 1px solid;
    margin: 6px;
    padding: 5px;
    gap: 7px;
    border-radius: 8px;
}

.modo{
    cursor: pointer;
}

.body_config{
    color: #364C5B;
    background: url(../imgsApp/backgroundClarof.png) no-repeat;
    transition:  0.3s, color 0.3s;
}

.dark-mode {
    background: url(../imgsApp/backgroundEscuro.png);
    color: #fff;
}
.dark-mode .imgsC{
    filter: invert(1);
}


