.tela{
    background-image: url("background/PfamiliarBackground.jpeg");
    width: 298px;
    height: 635px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fonte{
    margin-left: 20px;
    color: white;
    font-size: 25px;
}
#voltar{
    width: 44px;
    height: 44px;
    background: linear-gradient(45deg, rgb(142, 210, 255), #4180AB, #37afff);
    margin: 20px;
    border-radius: 25px;
}
#depsection{
width: 360px;
height: 200px;
align-self: center;
border-radius: 25px;
display: flex;
}
#dep{
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    align-self: center;
}
#dep::-webkit-scrollbar{
    display: none;
}
#criar{
    width: 75px;
    height: 80px;
    background-color: aliceblue;
    align-self: center;
    border-radius: 50px;
    align-self: center;
    margin-bottom: 100px;
}
.icon{
    width: 100%;
    height: 100%;
}